body {
    background-image: url(../WebI/LogoMakr-9DSBLU.png);
    background-color: rgb(114, 114, 114);
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    background-size: 400px;
    background-position-x: center;
    background-position-y: 200px;

}

nav {
    float: right;
    background-color: rgb(65, 65, 65);
}

nav ul {
    margin: 0;
    padding: 5px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 30px;
    padding-top: 0px;
}

nav a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}
